h2{
  border-bottom-style: solid;
  border-bottom-color: green;
  padding-bottom: 10px;
}

input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=radio]{
  width: auto;
}
input[type=checkbox]{
  width: auto;
}
input[type=date]{
  width: auto;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.contents {
  text-align: left;
  padding: 16px;
}
