/*Home Page*/

/* image*/
.featuredItems img{
  height: 306px;
  width: 200px;
  padding-left: 10px;
}

.dealOfDay img{
  height: 306px;
  width: 200px;
  padding-left: 10px;
}
/*description of images*/
.featuredItems p{
  width: 200px;
  text-align: center;
  margin-top: 10px;
}

.dealOfDay p{
  width: 200px;
  text-align: center;
  margin-top: 10px;
}


/*Produce Page*/

/* capitalise button element*/
.category button{
  text-transform: capitalize;
  width: 100%;
}
.category p{
  text-align: center;
}

#totalPagesValue{
  display: none;
}
#currentPage{
  display: none;
}
#categoryType{
  display: none;
}

.productImage{
  padding: 10px;
}

.thumbnail{
  text-align: center;
}

.totalPages li{
  border-style: none;
  padding: 10px;
  margin: 10px;
  background-color:white;
  display: inline-block;
  border-radius: 100px;
}
.totalPages li:hover{
  cursor: pointer;
}

.pagesDiv{
  text-align: center;
}
#booksPerPageValue{
  border-radius: 2px;
  border-color: rgb(199,199,199);
}

/*shopping cart*/
.mycart{
  position: fixed;
  left: 0;
  bottom: 10px;
}
.shoppingCart img{
  height: 20px;
  width: 20px;
}
.shoppingCart img:hover{
  cursor: pointer;
}

.shoppingCart{
  text-align: left;
}
.shoppingCart table{
  border-collapse: collapse;
  white-space:nowrap;
}
.shoppingCart td{
  width: 200px;
}
.bookQuantity{
  display: inline-block;
  margin: 10px;
  /*white-space:nowrap; /*force the -XX+ display in one line*/
}


/*membership Page*/
.membership{
  margin-top: 60px;
}
.signUpBtn{
  width: 100%;
  margin-top: 20px;
}


/* about page*/
.about{
  margin-top: 60px;
}
#googleMap{
  width: 500px;
  height: 500px;
  border: 1px solid black;
}
